<div class="login">
  <br>
  <div class="login__container container mt-3">
    <div class="row align-items-center">
      <div class="col-md-6 p-0">
        <img class="card-img-top" src="assets/img/rectangle2x.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="container text-muted">
          <h3 class="text-dark">Welcome back!</h3>
          <p>Please login to access your <span class="text-primary">Spaces</span> Dashboard</p>
          <form [formGroup]="loginForm">
            <div class="form-group row">
              <label for="username" class="col-md-12 col-form-label">Username</label>
              <div class="col-md-12">
                <input type="text" formControlName="email" class="form-control" name="username" id="username"
                  placeholder="username...">
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-12 col-form-label">Password</label>
              <div class="col-md-12">
                <input type="password" formControlName="password" class="form-control" name="password" id="password"
                  placeholder="password...">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <a href="http://">Forget password?</a>

              </div>
              <div class="offset-md-3 col-md-3">
                <button type="submit" class="btn btn-primary rounded-pill px-3 py-2" (click)="login()">LOGIN</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
