<nav class="users__nav pb-2">
  <ol class="users__breadcrumb breadcrumb mb-0 pb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
  </ol>
  <div class="d-flex ml-2 mr-3">
    <div class="p-2 flex-grow-1">
      <h3>Users List</h3>

    </div>
    <div class="p-2">
      <button type="button" class="btn btn-primary rounded-pill">
        <i class="fas fa-plus"></i>
        New User
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>